/* Add screen styles below */
body {
    font-family:'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    color: #231e1a;
    border-top: 10px solid #6f6a66;
    background: #fff;
}

h2 {
    font-size: 25px;
}

/* css for adding a new vinyl on website (not 100% functional with the submit button for storing information */
.addnewflex {
    padding: 25px;
    margin: 25px;
    background-color: #a79e8f;
    border-radius: 20px;
}

.addnewflex2 {
    padding: 25px;
    margin: 25px;
    background-color: #a79e8f;
    border-radius: 20px;
}

.newflex {
    display: flex;
    text-align: center;
    gap: 10px;
}

.form {
    flex-grow: 1;
    font-size: 25px;
    padding: 25px;
    margin: 25px;
    background-color: #827f7b;
    border-radius: 20px;
}

input[type=text] {
    display: block;
    background-color: #fff;
    width: 600px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

textarea {
    display: block;
    width: 600px;
    resize: vertical;
    height: 200;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

form {
    padding: 10px;
    margin: 10px
}

select {
    display: block;
    width: 625px;
    resize: vertical;
    height: 200;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
}

/* adding sticky header*/
.stickynav {
    position: sticky;
    top: 0;
    background: #e1b7b2;
    border-radius: 25px;
    padding: 5px;
    margin: auto;
    font-size: 18px;
}

/* home.html css */
.list {
    font-size: 25px;
}