/* Add screen styles below */
body {
    font-family:'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    color: #231e1a;
    border-top: 10px solid #6f6a66;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 25px;
}

/* view.html */
.details {
    flex-grow: 1;
    font-size: 25px;
    padding: 25px;
    margin: 25px;
    background-color: #827f7b;
    border-radius: 20px;
}

p {
    font-size: 16px;
}

/* css for adding a new vinyl on website (not 100% functional with the submit button for storing information */
.addnewflex {
    padding: 25px;
    margin: 25px;
    background-color: #a79e8f;
    border-radius: 20px;
}

.addnewflex2 {
    padding: 25px;
    margin: 25px;
    background-color: #a79e8f;
    border-radius: 20px;
}

.newflex {
    display: flex;
    text-align: center;
    gap: 10px;
}

.form {
    flex-grow: 1;
    font-size: 25px;
    padding: 25px;
    margin: 25px;
    background-color: #827f7b;
    border-radius: 20px;
}

input[type=text] {
    display: block;
    background-color: #fff;
    width: 600px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

textarea {
    display: block;
    width: 600px;
    resize: vertical;
    height: 200;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

form {
    padding: 10px;
    margin: 10px
}

select {
    display: block;
    width: 625px;
    resize: vertical;
    height: 200;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
}

/* adding sticky header*/
.stickynav {
    position: sticky;
    top: 0;
    background: #e1b7b2;
    border-radius: 25px;
    padding: 5px;
    margin: auto;
    font-size: 18px;
}

/* home.html css */
.list {
    font-size: 25px;
}

/* about.html css */
.aboutthesite {
    display: flex;
    background-color: #fff;
    margin: 10px;
    gap: 25px;
    padding: 10px;
    
}

.aboutthesite section {
    flex-grow: 1;
    flex-basis: 0;
    background: #E9EAEC;
    border-radius: 20px;
    margin-top: 25px;
    background-color: #fff;
    border: solid #231e1a;
    display: inline-flex;
}

.aboutthesite section p{
    margin: 20px;
}

.aboutthesite section h2{
    margin: 20px;
}

.aboutthesite section h3{
    margin: 20px;
    font-size: 25px;
}

.decor {
    display: flex;
    margin-left: 260px;
}

/* responsive design h1 and img are responsive */
img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    background-color: lightgrey;
    padding: 20px;
  }
  
  @media screen and (min-width: 1401px) {
    h1 {
      font-size: 80px;
    }
  }
  
  @media screen and (max-width: 1400) {
    h1 {
      font-size: 30px;
    }
  }